/*
** CSS below just for debug purposes

div {
	border: 1px solid grey;
	
}
*/


/* change to use border-box sizing 
*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  	position: relative;
  	margin: 0;
  	padding-bottom: 2rem;
  	min-height: 100%;

  	font-family: 'Open Sans', sans-serif;
	font-size: 1em; 
}



#headerDiv {
	width: 85%;
	margin: 0 auto;
}

h1 {
	color: navy;
	font-size: 3rem;
	font-weight: bold;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.sectionHeader {
	margin-left: 2rem;
	color: orange;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
}

.sectionContainerDiv {
	width: 95%;
	margin: 0 auto;
}

#petsContainerDiv {
	text-align: center; /* need this to center div children within */
}

.petDiv {
	display: inline-block;
	min-height: 15rem;
	width: 32%;
	margin: 0 auto;
	background-size: cover;
}

#pet1Div {
	background-image: url("images/pet4.jpeg");   		
}

#pet2Div {
	background-image: url("images/pet5.jpeg");   		
	
}

#pet3Div {
	background-image: url("images/pet3.jpeg");   		
	
}



#adoptText {
	margin-left: 3rem;
}

footer {
	margin-top: 5rem;
}

#footerCopyright {
	text-align: center;
	width: 30%;
	margin: 0 auto;
	font-size: .8rem;

	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: .8rem;
}


/* responsive media tags */
/* make your site responive so that it looks good on various popular phones such as
** the iphone 5, iphone 6, nexus 6P, and iPad. The smallest of these is the iphone5 which
** has a width of 320 pixels 
*/
@media only screen and (max-width: 600px) {
	
}
